@import '../../../styles/vars.scss';

.container {
    display: flex;
    justify-content: flex-end;


    .input {
        margin: 10px 5px 0 0;
        padding: 10px;
        width: 800px;
        height: 43px;
        font-size: 18px;

        border: 3px solid $color;

        background-color: black;
        color: white;
        outline: none
    }

    .double_border_button {
        text-decoration: none;
        display: inline-block;
        margin: 10px 20px;
        padding: 10px 30px;
        position: relative;
        border: 2px solid $color;
        color: $color;
        font-family: "Montserrat", sans-serif;
        transition: 0.4s;
    }

    .double_border_button:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        border: 2px solid rgba(0, 0, 0, 0);
        transition: 0.4s;
    }

    .double_border_button:hover:after {
        border-color: $color;
        width: calc(100% - 10px);
        height: calc(100% + 10px);
    }
}